/* ----------------- Class CSS ----------------- */

.about {
    width:400px;
    margin: auto;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.875) 0s;
}   

.about:hover {
    transform: rotate(5deg);
}

.about-team{
    color:rgb(82, 81, 81)
}

.authors{
    background-color: #d6ffe1;
}

.body{
    background-color: rgb(90, 92, 92);
}

.brand {
    width: 75px;
    height: 75px;
}

.chartjs-sample{
    background-color: #8fa3ab;
}

.footer{                
    background-color: #00bf63;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.img-trans {
    margin-top: 25px;
    border-radius: 20px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.875) 0s;
}

.img-trans:hover {
    transform: rotate(5deg);
}

.nav-background-color{   /* navbar background color */
    background-color: #00bf63;
}

.nav-menu-item{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #d6ffe1;
}

.overview-left-padding{
    padding-left: 20px;
}

.overview-right-padding{  
    padding-right: 20px;
}

.procedure{
    background-color: #d6ffe1;
    padding: 1px;
}

.procedure-img {
    width: 250px;
    border-radius: 20px;
}

.showcase{
    background-color: #59d97c; /*#0096c7*/
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
#chart-wrapper{
    margin: auto;
    padding: 10px; 
    min-height: 400px;
    background-color: whitesmoke !important;
    justify-content: center;
    align-items: center;  
}



.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}