/* --------------- Font Imports ---------------- */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');

/* ----------------- Class CSS ----------------- */

.about {
    width: 400px;
    margin: auto;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.875) 0s;
}

.about:hover {
    transform: rotate(5deg);
}

.about-team {
    color: rgb(0, 0, 0);
    font-family: "Smooch Sans", sans-serif;
    font-weight: 600;
    margin-top: 120px;
    font-size: 48px;
}

.authors {
    background-color: #d6ffe1;
    font-family: "Exo 2", sans-serif;
}

.body {
    background-color: #00bf63;
}

.brand {
    width: 75px;
    height: 75px;
}

.chartjs-sample {
    background-color: #8fa3ab;
}

.footer {
    background-color: #00bf63;
}

.icon-white {
    /* Arrow icon at bottom of page */
    color: #FFFFFF;
}

.img-trans-right {
    border-radius: 20px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.875) 0s;
}

.img-trans-right:hover {
    transform: rotate(5deg);
}

.img-trans-left {
    border-radius: 20px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.875) 0s;
}

.img-trans-left:hover {
    transform: rotate(-5deg);
}

.nav-background-color {
    /* navbar background color */
    background-color: #00bf63;
}

.nav-menu-item {
    /* navbar link text properties */
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Smooch Sans", sans-serif;
    color: #ffffff;
}

.overview {
    background-color: #d6ffe1;
    font-family: "Exo 2", sans-serif;
}

.overview-left-padding {
    padding-left: 20px;
}

.overview-right-padding {
    padding-right: 20px;
}

.procedure {
    background-color: #d6ffe1;
    padding: 1px;
    font-family: "Smooch Sans", sans-serif;
    margin-top: 120px;
}

.procedure-header {
    font-weight: 600;
    font-size: 48px;
}

.procedure-img {
    width: 250px;
    border-radius: 20px;
}

.showcase {
    background-color: #59d97c;
    font-family: "Smooch Sans", sans-serif;
    margin-top: 120px;
}

.step {
    font-weight: 600;
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
#chart-wrapper {
    margin: auto;
    padding: 10px;
    min-height: 400px;
    background-color: whitesmoke !important;
    justify-content: center;
    align-items: center;
}



.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
}

.navbar-brand::after {
    content: 'Research Practicum';
    top: 25px;
    left: 10px;
    position: relative;
    width: 100%;
    font-family: "Exo 2", sans-serif;
    font-size: 40px;
}

@media screen and (max-width: 560px) {
    .navbar-brand:after {
        font-size: 28px;
    }

    .procedure-img {
        width:150px;
    }
}